.mypanelbody {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  justify-items: center;
  padding: .14rem .4rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  &::before {
    @width: .4rem;
    content: '';
    display: block;
    position: absolute;
    left: @width;
    right: @width;
    bottom: 0;
    border-bottom: 1px solid #f7f8f9;
  }
  .avatar {
    @width: 1.2rem;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 @width;
    -moz-box-flex: 0;
    -ms-flex: 0 0 @width;
    flex: 0 0 @width;
    width: @width;
    height: @width;
    -moz-border-radius: 6px;
    border-radius: 6px;
  }
  .content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding: 0 .3rem;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden;
    .title{
      width: 100%;
      font-size: .3rem;
      font-weight: bold;
      color: #1A1A1A;
    }
    .period{
      width: 100%;
      font-size: 10px;
      color: #999999;
    }
  }
  .btn-recharge {
    @height: .54rem;
    position: absolute;
    top: 50%;
    right: .4rem;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
    padding: 0 .2rem;
    height: @height;
    line-height: @height;
    text-align: center;
    -moz-border-radius: @height;
    border-radius: @height;
    font-size: .24rem;
    color: #333;
    background-color: #ffd100;
    cursor: pointer;
    z-index: 100;
  }
}
.am-toast > span {
  max-width: 80%;
}
.am-toast-notice-content .am-toast-text{
  min-width: 115px;
  -moz-border-radius: 36px;
       border-radius: 36px;
  color: #fff;
  background-color: rgba(58, 58, 58, 0.9);
  line-height: 1.5;
  padding: 10px 26px;
}