<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>积分商城</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <script type="text/javascript" src="http://image.tanwan.com/jsCommon/zepto.min.js"></script>
    <script type="text/javascript" src="//image.tanwan.com/jsCommon/sy_tw_pop_login_reg_2018.js"></script>
    <script>
        var url = location.href;
        var t = url.split('#');
        var agent_id = getParamUrl("agent_id", window.location.href);
        var placeid = getParamUrl("placeid", window.location.href);
        pop_lr.init({ login_attr: ['phone', 'login', 'wechat'], game_id: 156, agent_id: agent_id, placeid: placeid, auto: '', goto_url: t[0] });
    </script>
    <!--script type="text/javascript" src="../utils/hotcss.js"></script-->
    <!-- <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script> -->
</head>

<body>
    <div id="app"></div>
</body>

</html>