body, html {
	height: 100%;
	font-family: PingFang SC, Helvetica Neue, Hiragino Sans GB, Helvetica, Microsoft YaHei, Arial;
}
ul,li{list-style: none; padding: 0;margin: 0;}
p{
	margin: 0;
}
a{
	color: #5e636d;
}
img{
	max-width: 100%;
        height: auto;
}
